* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(313, 170%, 31%);
}
.container h2 {
  text-align: center;
  font-size: 1.7rem;
}

.container {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 50vh;
  width: 50vh;
  box-shadow: 10px 10px 20px 0 rgb(31, 28, 28);
}

form {
  margin: 2rem 0 1rem 0;
}
form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}
form input {
  border: 1.5px solid lightgrey;
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.5rem;
}
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.dropdown i {
  font-size: 1.4rem;
  margin-top: 1rem;
}
.select-container img {
  font-size: 1.75rem;
}
.select-container img {
  max-width: 2rem;
}
.select-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: 1px solid lightgrey;
  width: 6rem;
}
.select-container select {
  font-size: 1rem;
  width: auto;
}
.msg {
  margin: 2rem 0 2rem 0;
}
form button {
  height: 3rem;
  background-color: hsl(327, 72%, 29%);
  color: white;
  font-size: 1.15rem;
  cursor: pointer;
  transition: 0.3s ease;
}
button:hover {
  opacity: 0.7;
}
